body
	font-size 14px
	font-family 'Roboto Condensed', Arial, sans-serif



// GLOBAL
// style
// sprite

.sprite4
	position absolute









.face-company
	max-width 170px

	&--footer
		top 25%
		left 56%

	&--header
		top 50px
		left 145px

	&__link
		color #393d3c
		font-size 18px
		line-height 18px

	&__social-link
		display inline-block
		padding 5px
		fill #7bcbc1

	&__svg
		width 25px
		height 25px










@keyframes pulsez {
	0% {
		filter: drop-shadow(0 0 0)
	}

	30% {
		filter: drop-shadow(0 0 0)
	}

	80% {
		filter: drop-shadow(0px 0px 15px red)
	}

	100% {
		filter: drop-shadow(0px 0px 25px red)
	}
}


@keyframes pulse-example {
	0% {
		box-shadow: 0 0
	}

	30% {
		box-shadow: 0 0
	}

	80% {
		box-shadow: 0 0 5px 10px rgba(255,255,255,0)
	}

	100% {
		box-shadow: 0 0 0 0 rgba(255,255,255,0)
	}
}
