// Адаптивности для

// 	background-image linear-gradient(135deg,#ebb240 212px,#f3d28f 213px,#f3d28f 215px,#ebb240 216px)
// for @media меньше 1500px

	// background-image linear-gradient(to bottom right, #ff9b6d 314px, #f3d28f 315px, #f3d28f 316px, #ff9b6d 318px)
	// background-image linear-gradient(#ff9b6d 230px, #f3d28f 230px, #f3d28f 270px, #ff9b6d 250px,#ff9b6d)  20px гор.линия по центру <---->
	// background-image linear-gradient(c1 230px, c2 230px, c2 232px, c1 232px, c1 234px ,c2 234px, c2 236px,c1 236px, c1 238px, c2 238px, c2 240px, c1 240px, c1 242px, c2 242px, c2 244px, c1 244px, c1 246px, c2 246px, c2 248px, c2 )  тонкие полоски как жалюзи


	// STUDIO

	bgs1 = #ff9b6d
	bgs2 = #f3d28f

	// NEWS

	bgn1 = #d4edbf
	bgn2 = #e5f4d8
