.project__l0
	height 500px
	background-image linear-gradient(to bottom right, #ebb240 314px, #f3d28f 315px, #f3d28f 316px, #ebb240 318px)
	overflow hidden

.project__l1
	height 500px
	background-color #fff
	overflow hidden

.project__l2
	height 500px
	background-image linear-gradient(to bottom right, #647580, #747d87)
	overflow hidden

.project__l3
	height 500px
	background-color #eaeaea
	overflow hidden

.project__l4
	height 300px
	background-color #fcfcfc
	overflow hidden

.project__l5
	height 300px
	background-color #cecece
	overflow hidden



.project__r1
	height 250px
	background-color #dfe0d9
	overflow hidden

.project__r2
	height 500px
	background-color #f7f7f3
	overflow hidden

.project__r3
	height 250px
	background-color #ffffff
	overflow hidden

.project__r4
	height 300px
	background-image linear-gradient(to bottom right,#ebb240 255px,#f3d28f 256px,#f3d28f 258px,#ebb240 259px)
	overflow hidden



// parallax
// style
// img

.img--l0
	width 613px
	height 465px
	right 30px
	bottom 0px

.img--l1
	width 242px
	height 654px
	top -70px
	left 295px

.img--l2
	width 207px
	height 298px
	bottom -20px
	right 20px

.img--l3
	width 412px
	height 349px
	top 190px
	left 50px

.img--l4
	width 467px
	height 170px
	top 35px
	left 50px

.img--l5
	width 257px
	height 216px
	bottom -10px
	left -140px


.img--r1
	width 212px
	height 226px
	top 30px
	right 20px

.img--r2
	width 274px
	height 302px
	top 0px
	right 100px

.img--r3
	width 195px
	height 198px
	top 30px
	left 30px


.project__caption
	position absolute
	top 60%
	left 44%
	font-size 48px
	line-height 56px
	text-transform uppercase
	color white



// main text
// style
// container

.project__item
	color black
	z-index 3


.project__item--l1
	top 90px
	left 105px

.project__item--l2
	top 30px
	left 40px
	color white

.project__item--l3
	top 100px
	left 300px

.project__item--l4
	bottom 10px
	left 125px

.project__item--l5
	top 90px
	right 20px


.project__item--r1
	top 15px
	left 35px
	width 155px

.project__item--r2
	bottom 15px
	left 50px

.project__item--r3
	top 40px
	right 30px


.project__name
	font-weight 300


.project__type
	font-size 12px
	font-family 'Roboto Condensed', Arial, sans-serif
	font-weight 700
	line-height 1.1


// URL text
// style
// VIEWPROJECT

.project__view
	min-width 125px
	font-size 18px
	line-height 20px
	text-transform uppercase


.project__view--l1
	top 200px
	left 50px

.project__view--l2
	top 155px
	left 22px

.project__view--l3
	top 10px
	left 200px

.project__view--l4
	top 45px
	left 230px

.project__view--l5
	top 105px
	left 15px


.project__view--r1
	top 135px
	left 15px

.project__view--r2
	top 43px
	left 180px

.project__view--r3
	top 105px
	right 15px



// container
// style
// <hearth>

.project__like
	color red
	font-size 12px
	line-height 14px


.project__like--l1
	top 340px
	left 55px

.project__like--l2
	top 240px
	left 35px
	color #fe7c7c

.project__like--l3
	top 85px
	left 230px

.project__like--l4
	top 65px
	left 400px

.project__like--l5
	top 175px
	left 55px


.project__like--r1
	top 208px
	left 55px

.project__like--r2
	top 68px
	left 315px

.project__like--r3
	top 175px
	left 55px


.project__svg-wr
	display flex
	width 35px
	height 35px
	position absolute
	top -40px
	left -4px
	border-radius 50%
	background-color rgba(254,124,124, 0.4)
	border 1px solid rgba(254,124,124, 0.1)
	animation pulsez 2.2s infinite






// project-list
//    END
// timiline-list

.project-list
.timeline-list
	position absolute
	top 33%
	left 28%
	list-style none
	font-size 13px
	line-height 16px
	color white
	text-transform uppercase


.project-list__item
	color white
	width 200px


.project-list__link
	color inherit


i[id^='fixjump']:target + .project-list__link
	color black

i[id^='fixjump']
	position fixed
	display none


.timeline-list
	top 20%
	left 20%


.timeline-list__first
	color black
	font-size 15px
	margin-bottom 5px


.timeline-list .timeline-list__item--select
	color black
