
.studio
	background-color #e9eae2
	background-clip content-box


	&__l1
		height 500px
		background-image linear-gradient(bgs1 230px, bgs2 230px, bgs2 270px, bgs1 250px, bgs1)


	&__r1
		color sssssssssss


	&__caption
		position absolute
		top 40%
		left 40%
		color white


	&__achivment
		max-width 360px


	&__awards
		box-shadow 0px 2px 0 0 #dbdcd4


	.studio__awards-item
		flex-basis 50%

		&:nth-child(even)
			text-align right




.staff
	height 342px


	&__inner
		max-width 265px
		top 50px
		right 20px



.personal__img-wr
.personal__character
.personal__contact
	max-width 875px


.personal__name
.personal__position
	flex-basis 30%

.personal__name:not(:first-child):not(:nth-child(4))
.personal__position:not(:first-child):not(:nth-child(4))
	margin-left 40px



.personal__network
	flex-basis 31%


.studio .sprite4__arrow--orange
	transform rotateY(180deg)
	fill #fa6925





.studio__sprite-social
	width 20px
	height 15px
	fill #fa6925

.personal__link
	padding 5px 7px

	span
		color #fa6925
