
.news
	color empty

	&__l
		background-image linear-gradient(bgn1 230px, bgn2 230px, bgn2 270px, bgn1 250px, bgn1)
		height 500px


		&-caption
			position absolute
			top 13%
			left 36%
			font-size 48px
			line-height 56px
			color white


	&__r
		background-color #e5e9df
		height 500px



.article
	max-width 370px
	overflow hidden


	&__img
		width 370px
		height 180px
		transition transform .225s

		&:hover
			transform scale(1.15)


	&__caption
		min-height 51px
		font-size 24px
		line-height 26px
		font-weight bold
		text-transform uppercase
		margin-bottom 0px


	&__time
		color #6a6969


	&__paragraph
		color #6a6969
		font-size 12px
		line-height 14px


	&__read-more
		color #fd5000
		text-align right
		text-transform uppercase
