
.footer
	background-color #e9eae2
	background-clip content-box


	&__stat-map
		max-width 100%
		height auto


	&__address
		top 22%
		left 16%
		font-size 13px
		line-height 14px


		span
			width 100%


	&__copyright
		bottom 8%
		left 25%



.address
	max-width 140px
	position absolute


	&__mail
		position absolute
		min-width 140px
