// GLOBAL
// style
// sprite

.sprite4
	position absolute



//
// target toggle
//

#fixjump-1:target ~ .sprite4__arrow--white
#fixjump-2:target ~ .sprite4__arrow--white
#fixjump-3:target ~ .sprite4__arrow--white
#fixjump-4:target ~ .sprite4__arrow--white
	visibility visible

.project-list .sprite4__arrow--white
	visibility hidden



.project .sprite4__arrow--white
	left 15px
	fill white

.project .sprite4__arrow--yellow
	top 1px
	left -25px
	fill #ebb240



.sprite4__arrow
	width 20px
	height 15px


.sprite4__favorite
	width 30px
	height 25px
	fill black


	&:hover
		fill red
		transition fill .5s



.project .sprite4__favorite
	position static
	margin auto
	margin-top 5px


.sprite4__favorite--l2
	position static
	margin auto
	margin-top 5px
	fill white


// .sprite4__favorite--l1

// .sprite4__favorite--l3

// .sprite4__favorite--l4

// .sprite4__favorite--l5


// .sprite4__favorite--r1

// .sprite4__favorite--r2

// .sprite4__favorite--r3
