
.face-company
	max-width 170px

	&--footer
		top 25%
		left 56%

	&--header
		top 50px
		left 145px

	&__link
		color #393d3c
		font-size 18px
		line-height 18px

	&__social-link
		display inline-block
		padding 5px
		fill #7bcbc1

	&__svg
		width 25px
		height 25px
		transition fill .5s

		&:hover
			fill black


// Quick and easy adaptation
// For small displays
// 0 - 1599 px

@media (max-width 1599px)
	.face-company--header
		top 25px
		left 70px


	.face-company--footer
		top 7%
		left 56%
